In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from textblob import TextBlob
import re
import re  # Import regular expressions library
from ftfy import fix_text  # Import ftfy

# Load the CSV file
df = pd.read_csv('/Users/artemus/Documents/My_Projects/BritishAirways/data/BA_reviews.csv', encoding = "ISO-8859-1")
print(df.shape)

# Display the first few rows
display(df.head())

# Show basic statistics
display(df.info())
display(df.describe())

(1000, 2)

   Unnamed: 0                                            reviews
0           0  Not Verified |  A nightmare journey courtesy o...
1           1  â
 Trip Verified | Absolutely atrocious. LHR-...
2           2  â
 Trip Verified | As someone who flies relen...
3           3  â
 Trip Verified |   Flew with British Airway...
4           4  â
 Trip Verified |   Straightforward check in...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   reviews     1000 non-null   object
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

None

        Unnamed: 0
count  1000.000000
mean    499.500000
std     288.819436
min       0.000000
25%     249.750000
50%     499.500000
75%     749.250000
max     999.000000

In [37]:
# Function to remove special characters (non-ASCII)
def remove_special_characters(text):
    # Remove any character that is not alphanumeric, space, or basic punctuation
    return re.sub(r'[^\x00-\x7F]+', '', text)

# Function to clean text by removing special characters and handling encoding
def clean_text(text):
    # Use ftfy to fix text encoding issues
    text = fix_text(text)
    
    # Convert to ASCII and ignore characters that can't be encoded
    text = text.encode('ascii', 'ignore').decode('ascii')
    
    # Remove any remaining special characters except basic punctuation
    text = re.sub(r'[^\w\s.,!?-]', '', text)
    
    # Remove multiple spaces
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

# Remove special characters from the 'reviews' column
df['cleaned_reviews'] = df['reviews'].apply(remove_special_characters)

# Save cleaned data
df.to_csv('cleaned_BA_reviews.csv', index=False)

# Put the text in a lower case 
df['cleaned_reviews'] = df['reviews'].str.lower()

# Convert to lowercase
df['cleaned_reviews'] = df['reviews'].str.lower()

# Remove punctuation
df['cleaned_reviews'] = df['cleaned_reviews'].str.translate(str.maketrans('', '', string.punctuation))

# Remove numbers
df['cleaned_reviews'] = df['cleaned_reviews'].str.replace(r'\d+', '', regex=True)

# Remove whitespace
df['cleaned_reviews'] = df['cleaned_reviews'].str.strip().replace(r'\s+', ' ', regex=True)

# Remove stopwords
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
df['cleaned_reviews'] = df['cleaned_reviews'].apply(lambda x: ' '.join([word for word in x.split() if word not in stop_words]))

# Tokenization
nltk.download('punkt')
df['tokens'] = df['cleaned_reviews'].apply(word_tokenize)

# Lemmatization
nltk.download('wordnet')
lemmatizer = WordNetLemmatizer()
df['tokens'] = df['tokens'].apply(lambda x: [lemmatizer.lemmatize(word) for word in x])

# Remove short words
df['tokens'] = df['tokens'].apply(lambda x: [word for word in x if len(word) > 2])

# Correct spelling
df['tokens'] = df['tokens'].apply(lambda x: [str(TextBlob(word).correct()) for word in x])

# Rejoin tokens
df['cleaned_reviews'] = df['tokens'].apply(lambda x: ' '.join(x))

# Handle missing or duplicate values
df.dropna(subset=['cleaned_reviews'], inplace=True)
df.drop_duplicates(subset=['cleaned_reviews'], inplace=True)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/artemus/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/artemus/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/artemus/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [39]:
# Function to clean text by removing special characters and handling encoding
def clean_text(text):
    # Convert to ASCII and ignore characters that can't be encoded
    text = text.encode('ascii', 'ignore').decode('ascii')
    
    # Remove any remaining special characters except basic punctuation
    text = re.sub(r'[^\w\s.,!?-]', '', text)
    
    # Remove multiple spaces
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

df.to_csv('cleaned_BA_reviews.csv', index=False)

In [42]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

nltk.download('stopwords')
nltk.download('punkt')

def remove_stopwords_nltk(text):
    stop_words = set(stopwords.words('english'))
    words = word_tokenize(text)
    filtered_words = [word for word in words if word.lower() not in stop_words]
    return ' '.join(filtered_words)

df.to_csv('cleaned_BA_reviews.csv', index=False)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/artemus/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/artemus/nltk_data...
[nltk_data]   Package punkt is already up-to-date!